@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: aliceblue;
    padding: 36px;
    display: flex;
    justify-content:space-around;
}
nav ul li{
    list-style: none;
    display: inline;
}

nav ul li a{
    text-decoration: none;
    padding: 34px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.btn{
    background-color: #30B868;
    width: 164px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 12px;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    background-color: #007BFF;
    color: #000;
    cursor: pointer;
    border-radius: 10px;
}

body{
    background-color: #fff;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-section{
    /* background-image: url(../images/hero-bg.png); */
    /* background-repeat: no-repeat; */
    border: 1px solid red;
    text-align: center;
}
.hero-section .containt-text{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    /* margin-top: 50px; */
}
.hero-text{
    color: #30B868;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    
}
small{
    font-size: 18px;
    color: #fff;
    margin-top: 16px;
    line-height: 24px;
    margin: 0 auto;
}
.btn-hero{
    background-color: #30B868;
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}
.btn-hero:hover{
    cursor: pointer;
    background-color: aqua;
    border-radius: 10px;
}
.btn-heros{
    background-color: #474646;
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0px;
    border-radius: 5px;
    border: none;
    border: 1px solid #fff;
    margin-top: 30px;
}
.btn-heros:hover{
    cursor: pointer;
    background-color: rgb(202, 235, 209);
    border-radius: 10px;
    color: #000;
}
.main-containt{
    text-align: center;
    margin-top: 20px;
}
.main-containt > h1{
    color: #000;
    font-weight: bold;
    font-size: 48px;
}
.main-containt p{
    font-size: 16px;
    color: #627382;
    line-height: 30px;
}
.box-section{
    max-width: 1120px;
    display: flex;
    gap: 5px;
}
.box{
    max-width: 300px;
    box-shadow: 10px 5px 5px rgb(230, 220, 220);
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    padding: 25px 30px;
}
.box img{
    background-color: #f95555;
    padding: 15px;
    border-radius: 50%;
}
.box .title{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.box .description{
    color: #627382;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}


