* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

nav {
    max-width: 1140px;
    margin: 0px auto;
    background-color: #fff;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 34px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.btn {
    background-color: #30B868;
    width: 164px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 12px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}

.btn:hover {
    background-color: #007BFF;
    cursor: pointer;
}

body {
    background-color: #fff;
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-section {
    max-width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
}

.hero-section .containt-text {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    /* margin-top: 50px; */
}

.hero-text {
    color: #30B868;
    font-size: 45px;
    font-weight: bold;
    text-align: center;

}

small {
    font-size: 18px;
    color: #fff;
    margin-top: 16px;
    line-height: 24px;
    margin: 0 auto;
}

.btn-hero {
    background-color: #30B868;
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.btn-hero:hover {
    cursor: pointer;
    background-color: aqua;
    border-radius: 10px;
}

.btn-heros {
    background-color: #474646;
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0px;
    border-radius: 5px;
    border: none;
    border: 1px solid #fff;
    margin-top: 30px;
}

.btn-heros:hover {
    cursor: pointer;
    background-color: rgb(202, 235, 209);
    border-radius: 10px;
    color: #000;
}

.main-containt {
    text-align: center;
    margin-top: 40px;
}

.main-containt h1 {
    color: #000;
    font-weight: bold;
    font-size: 48px;
}

.main-containt p {
    font-size: 16px;
    color: #627382;
    line-height: 30px;
}

.box-section {
    max-width: 1360px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.box {
    width: 322px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.546);
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;
    padding: 75px 30px;
}

.box img {
    background-color: #f95555;
    padding: 15px;
    border-radius: 50%;
}

.box .title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.box .description {
    color: #627382;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.second-brain-section {
    display: flex;
    gap: 25px;
    max-width: 1360px;
    margin: 0px auto;
    margin-top: 50px;
    align-items: center;
}

.Second-Brain-Section img {
    width: 100%;
}

.Second-Brain-para {
    font-size: 16px;
    color: #30B868;
}

.Second-Brain-title {
    font-size: 48px;
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}

.Second-Brain-discription {
    font-size: 16px;
    color: #627382;
    margin-top: 15px;
    line-height: 20px;
}

.check-list {
    margin-top: 15px;
    list-style: none;
}

.check-list li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.Second-Brain-Section ul li {
    list-style: none;
    margin-top: 5px;
}

.early-access-section {
    background-color: #F7F6F2;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding: 80px 0px;
}

.early-access-section h1 {
    font-size: 40px;
    color: #000;
}

.early-access-section h1,
.early-access-section button {
    margin-bottom: 16px;
}

.footer-section {
    background-color: #001931;
    max-width: 1600px;
    margin: 120px auto 0px;
}

.footer-main {
    width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 120px 0px 80px;
}

.socials-section h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    gap: 5px;
    margin-right: 107px;
}

.social-links a {
    color: #000;
    text-decoration: none;
    padding: 2px;
    background-color: #fff;
    border-radius: 50%;
}

.footer-credit {
    text-align: center;
    color: #fff;
    padding: 30px 0px;
    font-size: 16px;
    line-height: 24px;
}